config.php
config_override.php

.htaccess
cache/

custom/history/
custom/modulebuilder/
custom/working/
custom/modules/*/Ext/
custom/application/Ext/

# The silent upgrade scripts aren't needed.
/silentUpgrade*.php

*.log

/upload/*

!/upload/.gitkeep

portal2/config.js

